apiVersion: batch/v1
kind: Job
metadata:
  name: load-test
spec:
  template:
    spec:
      containers:
      - name: k6
        image: grafana/k6:latest
        command: ["k6", "run", "-"]
        stdin: true
        tty: true
        stdinOnce: true
      restartPolicy: Never
