apiVersion: v1
kind: Service
metadata:
  name: devops-demo-service
spec:
  type: LoadBalancer
  selector:
    app: devops-demo-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
