name: Deploy to Azure AKS

on:
  push:
    branches:
      - main

env:
  ACR_LOGIN_SERVER: devopsdemoacricefrb.azurecr.io
  IMAGE_NAME: devops-app
  RG_NAME: devopsdemo-rg
  AKS_NAME: devopsdemo-aks

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        uses: azure/docker-login@v2
        with:
          login-server: ${{ env.ACR_LOGIN_SERVER }}
          username: devopsdemoacricefrb
          password: ${{ secrets.DEVOPSDEMOACRICEFRB }}

      - name: Build and Push Image
        run: |
          cd app
          docker build -t $ACR_LOGIN_SERVER/$IMAGE_NAME:v${{ github.run_number }} .
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:v${{ github.run_number }}

      - name: Set AKS Context
        uses: azure/aks-set-context@v4
        with:
          resource-group: ${{ env.RG_NAME }}
          cluster-name: ${{ env.AKS_NAME }}

      - name: Deploy to Kubernetes
        run: |
          kubectl set image deployment/devops-demo-app devops-demo-app=$ACR_LOGIN_SERVER/$IMAGE_NAME:v${{ github.run_number }}
          kubectl rollout status deployment/devops-demo-app






