name: Deploy to Azure AKS

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    env:
      ACR_LOGIN_SERVER: devopsdemoacricefrb.azurecr.io
      IMAGE_NAME: devops-app

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        uses: azure/docker-login@v2
        with:
          login-server: ${{ env.ACR_LOGIN_SERVER }}
          username: devopsdemoacricefrb
          password: ${{ secrets.DEVOPSDEMOACRICEFRB }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3



      - name: Build and Push Image
        run: |
          cd app
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -t $ACR_LOGIN_SERVER/$IMAGE_NAME:v${{ github.run_number }} \
            --push \
            .


      - name: Set AKS Context
        uses: azure/aks-set-context@v4
        with:
          resource-group: devopsdemo-rg
          cluster-name: devopsdemo-aks

      - name: Deploy to Kubernetes
        run: |
          kubectl set image deployment/devops-demo-app devops-demo-app=$ACR_LOGIN_SERVER/$IMAGE_NAME:v${{ github.run_number }}
          kubectl rollout status deployment/devops-demo-app






